@font-face {
    font-family: 'KGBrokenVesselsSketch';
    src: url(./KGBrokenVesselsSketch.ttf);
}

* {
    font-family: 'KGBrokenVesselsSketch', 'sans serif';
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 1 20%;
    background-color: #758C95;
}

h1 {
    display: flex;
    justify-content: center;
    color: #f9faf8;
    font-size: 48px;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
}

button {
    font-size: 12px;
    height: 50%;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 80%;
}

.grid {
    border: solid #1F2937;
}

.bordersShown {
    border: solid lightskyblue;
}